Magic 271485
Revision Verdi3_L-2016.06-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 23 1920 1017 177 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 0 "" "/home/yzb/fwrisc/fwrisc_uart/rtl/uart/vsim/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 169902200.000000
cursor 168220000.000000
marker 0.000000

; visible top row signal index
top 0
; marker line index
markerPos 45

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/yzb/fwrisc/fwrisc_uart/rtl/uart/vsim/inter.fsdb"
addSignal -h 15 -UNSIGNED -HEX /uart_tb/csr_a[13:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope csr_di[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope csr_do[31:0]
addSignal -h 15 -holdScope csr_we
addSignal -h 15 -holdScope rx_irq
addSignal -h 15 -holdScope sys_clk
addSignal -h 15 -holdScope sys_rst
addSignal -h 15 -holdScope tx_irq
addSignal -h 15 -holdScope uart_rx
addSignal -h 15 -holdScope uart_tx
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /uart_tb/u_uart_send/csr_a[13:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope csr_di[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope csr_do[31:0]
addSignal -h 15 -holdScope csr_selected
addSignal -h 15 -holdScope csr_we
addSignal -h 15 -UNSIGNED -HEX -holdScope divisor[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rx_data[7:0]
addSignal -h 15 -holdScope rx_irq
addSignal -h 15 -holdScope sys_clk
addSignal -h 15 -holdScope sys_rst
addSignal -h 15 -holdScope thru
addSignal -h 15 -UNSIGNED -HEX -holdScope tx_data[7:0]
addSignal -h 15 -holdScope tx_irq
addSignal -h 15 -holdScope tx_wr
addSignal -h 15 -holdScope uart_rx
addSignal -h 15 -holdScope uart_tx
addSignal -h 15 -holdScope uart_tx_transceiver
addGroup "G3"
addSignal -h 15 -UNSIGNED -HEX /uart_tb/u_uart_send/transceiver/divisor[15:0]
addSignal -h 15 -holdScope enable16
addSignal -h 15 -UNSIGNED -HEX -holdScope enable16_counter[15:0]
addSignal -h 15 -holdScope sys_clk
addSignal -h 15 -holdScope sys_rst
addSignal -h 15 -UNSIGNED -HEX -holdScope tx_bitcount[3:0]
addSignal -h 15 -holdScope tx_busy
addSignal -h 15 -UNSIGNED -HEX -holdScope tx_count16[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tx_data[7:0]
addSignal -h 15 -holdScope tx_done
addSignal -h 15 -UNSIGNED -HEX -holdScope tx_reg[7:0]
addSignal -h 15 -holdScope tx_wr
addSignal -h 15 -holdScope uart_rx
addSignal -h 15 -holdScope uart_rx1
addSignal -h 15 -holdScope uart_rx2
addSignal -h 15 -holdScope uart_tx
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/yzb/fwrisc/fwrisc_uart/rtl/uart/vsim/inter.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/uart_tb"
"/uart_tb/u_uart_send"
"/uart_tb/u_uart_send/transceiver"

SCOPE_LIST_BEGIN
"/uart_tb"
"/uart_tb/u_uart_receive"
"/uart_tb/u_uart_send"
"/uart_tb/u_uart_send/transceiver"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


